.App {
  text-align: center;
  
}

.row {
  justify-content: center;
  margin: 25px 0;
}

body {
  background-image: url('./assets/back.jpg');
  background-size: 2000px 1000px;
  background-repeat: no-repeat;
}



@media screen and (max-width: 5000px) {
  body {
    background-size: 2000px 1500px;
  } 
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
  
}

/*@media screen and (max-width: 992px)  {
  body {
    background-size: 2000px 2500px;
  } 
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    
  }
  .card {
    max-width: 138px;
  }
}

@media screen and (max-width: 768px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .card {
    max-width: 138px;
  }

}
*/






